doctype html
html
  head
    meta(charset="utf-8")
    title Get Code Sample
    script(src="/javascripts/jquery.min.js")
    script(src="/javascripts/init.js")
  body
    h1 Get Code Sample
    br
    label urlFragment:
      input(id="urlFragment")
    br
    label urlQueryString:
      input(id="urlQueryString")
    br
    label getTokenUrl:
      input(id="getTokenUrl" value="#{getTokenUrl}")
